body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #2F3D46;
    color: #CAD2C5;
}

h1 {
    color: #527970;
}

#points {
    font-size: 18px;
    font-weight: bold;
    color: #527970;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px; /* Coins arrondis */
    margin: 5px;
}

#nomsEquipes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.equipe-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #354E52;
}

.equipe {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.nom-equipe {
    font-size: 1.5em;
    margin-right: 20px;
    color: #CAD2C5;
}

.points {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
    margin-left: 20px;
    color: #CAD2C5;
}

.boutonPoints {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.boutonPoints button {
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px; /* Coins arrondis */
    background-color: #84A98D;
    color: #2F3D46;
}
#listeAlbums {
    display: flex;
    justify-content: space-around;  /* ou d'autres valeurs comme space-between selon vos préférences */
    align-items: center;  /* alignez les éléments au centre verticalement si nécessaire */
}
#tempsActuel,
#tempsTotal {
    font-size: 1.5em;
    margin: 10px;
    color: #CAD2C5;
}
#barreDeTempsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#barreDeTemps {
    width: 100%;
    margin-top: 10px;
    appearance: none; /* Supprime le style par défaut du navigateur */
    background: transparent;
}


#barreDeTemps::-moz-range-thumb {
    width: 20px; /* Largeur de la boule pour avancer la barre pour Firefox */
    height: 20px; /* Hauteur de la boule pour avancer la barre pour Firefox */
    background-color: #527970; /* Couleur de la boule pour avancer la barre pour Firefox */
    border: none;
    border-radius: 50%; /* Rend la boule pour avancer la barre circulaire */
    cursor: pointer;
     
}

#barreDeTemps::-moz-range-track {
   
    height: 8px; /* Hauteur de la barre de temps pour Firefox */
    background-color: #527970; /* Couleur de la barre de temps pour Firefox */
    border-radius: 5px; /* Coins arrondis de la barre de temps pour Firefox */
    cursor: pointer;
}

#barreDeTemps::-webkit-slider-thumb {
    width: 20px; /* Largeur de la boule pour avancer la barre */
    height: 20px; /* Hauteur de la boule pour avancer la barre */
    background-color: #84A98D; /* Couleur de la boule pour avancer la barre */
    border: none;
    border-radius: 50%; /* Rend la boule pour avancer la barre circulaire */
    cursor: pointer;
    margin-top: -8px; /* Ajuste la position verticale de la boule */
}

#barreDeTemps::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px; /* Hauteur de la barre de temps */
    background-color: #527970; /* Couleur de la barre de temps */
    border-radius: 5px; /* Coins arrondis de la barre de temps */
    cursor: pointer;
}
#barreDeTemps::-ms-thumb {
    width: 20px; /* Largeur de la boule pour avancer la barre pour IE/Edge */
    height: 20px; /* Hauteur de la boule pour avancer la barre pour IE/Edge */
    background-color: #84A98D; /* Couleur de la boule pour avancer la barre pour IE/Edge */
    border: none;
    border-radius: 50%; /* Rend la boule pour avancer la barre circulaire */
    cursor: pointer;
}

#barreDeTemps::-ms-track {
    width: 100%;
    height: 8px; /* Hauteur de la barre de temps pour IE/Edge */
    background-color: #527970; /* Couleur de la barre de temps pour IE/Edge */
    border-radius: 5px; /* Coins arrondis de la barre de temps pour IE/Edge */
    cursor: pointer;
}
/* Ajoutez ces styles aux boutons existants */
button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    padding: 8px 16px; /* Ajout de rembourrage */
    background-color: #84A98D; /* Couleur de fond */
    color: #2F3D46; /* Couleur du texte */
}

/* Style pour le bouton Play/Pause */
#boutonPlay {
    background-color: #527970; /* Nouvelle couleur de fond */
    color: #CAD2C5; /* Nouvelle couleur du texte */
}

/* Style pour le bouton Passer */
#boutonPasser {
    background-color: #527970; /* Nouvelle couleur de fond */
    color: #CAD2C5; /* Nouvelle couleur du texte */
}

/* Style pour le bouton Reculer */
#boutonReculer {
    background-color: #527970; /* Nouvelle couleur de fond */
    color: #CAD2C5; /* Nouvelle couleur du texte */
}
